<div class="advantage">
	<div class="advantage-wrapper">
		<div class="advantages-name">
			<span>@@name</span>
		</div>
		<div class="advantage-bg">
			<div class="bg-img">
				<figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
			      <a href="images/items/@@big" itemprop="contentUrl" data-size="@@size">

					<div class="advantager">
						<img class="owl-lazy" data-src="images/items/@@img" itemprop="thumbnail">			
					</div>      	

			      </a>
			    </figure>
			</div><br>
		</div>
		<div class="advantages-prices">
			<span>@@price</span>
		</div>
		<div class="advantage-desc">
			@@desc
		</div>
		<div class="advantage-desc-line"></div>
		<div class="advantage-desc-comment">
			@@comment
		</div>
		<div class="advantage-but">
			<div class="btn_3 show-modal">Купить</div>
		</div>
	</div>				
</div>