$inpuTBorder: #28333d;
$colorInputTile: #28333d;
$colorFormTitle: #28333d;
$bgCheckPolitica: #ff7a06;
$colorPolitica:  #ff7a06;
$colorPoliticaA: #28333d;
$bgContacts: #f3f4f9;
$bgInput: #f1f1f1;
$colorError: red;
$colorSuccess: green;

$bgErrorInput: rgba(255, 0, 0, 0.12);
.module-contacts-1 {
	margin-top: 0px;
	padding-bottom: 35px;

	form {
		max-width: 635px;
		margin: auto;
	}

	.form-title {
		margin-top: 15px;
		margin-bottom: 40px;
		font-family: $Gilroy;
		font-weight: bold;
		font-size: 16px;
		text-align: center;
		line-height: 20px;
	}

	.module-title {
		margin-top: 60px;
		font-family: $GilroyBold;
		font-size: 30px;
		color: $colorNumbersTitle;
		text-align: center;

		.caption {
			color: $colorNumbersCaption;
		}		
	}

	.inputs {
		text-align: justify
	}

	.inputs:after {
		content: "";
		display: inline-block;
		width: 100%;
	}

	.input {
		display: inline-block;
		vertical-align: top;
		width: 100%;

		input[type="text"] {
			min-height: 40px;
			padding-left: 10px;
		}

		textarea {
			resize: none;
			min-height: 75px;
			padding: 10px;
		}

		input[type="text"], textarea {
			outline: 0;
			margin-top: 10px;		
			display: inline-block;
			width: 100%;	
			border: 0;	
			background: $bgInput;
			border-radius: 7px;
			font-family: $Gilroy;	
			font-size: 18px;
		}

		input[type="text"].error, textarea.error {
			background-color: $bgErrorInput;
			transition: 0.4s;
		}
	}

	.input-2 {
		max-width: 300px;
		height: 98px;
	}

	.input-title {
		padding-left: 0px;
		font-family: $Gilroy;
		color: $colorInputTile;
		font-size: 18px;
	}

	//> MESSAGE SEND
	.msg {

	}

	.msg.success {
		color: $colorSuccess;
	}

	.msg.error {
		color: $colorError;
	}
	//< MESSAGE SEND

	.politica {
		cursor: pointer;
		text-align: center;

		.check {
			position: relative;
			display: inline-block;
			vertical-align: top;
			width: 16px;
			height: 16px;
			border: 2px solid $bgCheckPolitica;
			svg {
				position: absolute;
				left: 0;
				right: 0;
				top: 1px;
				max-width: 10px;
				max-height: 10px;
				margin: auto;
				transition: 0.4s;

				.svg-check {
					fill: $bgCheckPolitica;
				}
			}
		}

		.check[check="true"] svg {
			transform: rotate(0deg) scale(1);
			opacity: 1;
		}

		.check[check=""] svg,
		.check[check="false"] svg {
			transform: rotate(50deg) scale(1.8);
			opacity: 0;			
		}

		.check.warning {
			transition: 0.4s;
			border-color: red;
		}
		
		.caption {
			display: inline-block;
			vertical-align: top;
			margin-left: 15px;
			font-family: $Gilroy;
			font-size: 13px;
			color: $colorPolitica;
			font-weight: bold;

			a {
				color: $colorPolitica;;
				text-decoration: underline;
			}
		}
	}

	[class*="btn_"] {
		margin-top: 22px;
	}
}

@media screen and (max-width: 660px) and (min-width: 320px) {
	.module-contacts-1 {
		.input-2 {
			max-width: 100%;
		}
	}
}

@media screen and (max-width: 524px) and (min-width: 320px) {
	.module-contacts-1 {

		.form-title {
			font-size: 16px;
			font-family: $Gilroy;
			line-height: 18px;
		}		

		.input-2 {
			max-width: 100%;
		}

		.politica {
			.caption {
				margin-left: 5px;
				width: 85%;
			}
		}

		.input {
			input[type="text"], textarea {
				font-size: 18px;
			}
		}	

		.form-send {
			text-align: center;
		}	
	}
}
