$colorNumber: #191919;
$colorItemDesc: #191919;
$colorNumberBorder: #191919;
$colorNumbersCaption: #ff7a06;
$colorNumbersTitle: #28333d;
$backgroundColor: #fdfefe;
$lineColor: #c6c6c6;

.advantage-sec-1 {
	background: $backgroundColor;

	.module_wrapper {
		max-width: 960px;
	}

	.items {
		position: relative;
	}

	[class*="route-"] {
		position: absolute;
		display: none;
		z-index: 10;
		top: 125px;
	}
	.route-right {
		right: 0;
	}

	.route-left {
		left: 0;
	}

	.owl-dot {
		display: inline-block;
		display: none;
		width: 10px;
		height: 10px;
		@include radius;
		border: 2px solid #3cbfa4;
		margin-right: 5px;
		margin-top: 15px;
	}

	.owl-dot.active {
		background-color: #28333d;
		border-color: #28333d;
	}	
	.module-title {
		margin-top: 60px;
		font-family: $GilroyBold;
		font-size: 30px;
		color: $colorNumbersTitle;
		text-align: center;

		.caption {
			color: $colorNumbersCaption;
		}		
	}

	.advantage-wrapper {
		text-align: justify;
	}

	.advantage-wrapper:after {
		content: "";
		display: inline-block;
		width: 100%;
	}

	.advantage {
		display: inline-block;
		vertical-align: top;
		text-align: left;
		width: 100%;
		border-radius: 10px;
		max-width: 216px;
		padding: 25px 15px;
		margin-top: 60px;
		background: #eeeeee;
	}

	.advantage-img {
		font-family: $GilroyBold;
		font-size: 36px;
		display: inline-block;
		width: 70px;
		height: 80px;
		border-bottom: 2px solid $lineColor;
		padding-bottom: 20px;
	}

	.advantage-desc {
		font-family: $GilroySemibold;
		font-size: 16px;
		line-height: 17px;
		margin-top: 15px;
	}
}

@media screen and (max-width: 620px) and (min-width: 320px) {
	.advantage-sec-1 {
		[class*="route-"] {
			display: block;
		}
		
		.advantage{
			text-align: center;
		}

		.advantage-wrapper {
			text-align: center;
		}

		.numbers-title {
			margin-top: 45px;
			font-family: $GilroySemibold;
			font-size: 24px;
			line-height: 28px;
		}

		.advantage-desc {
			line-height: 16px;
		}
	}
}