@@include('header.html', {
	"title": "Унты",
	"desc": "",
	"h1": "",
	"css": [
		"template"
	]
})	

<div class="modules">
@@include('site/modules/header-nav/module.html')
@@include('site/modules/bunner-slider-1/module.html')
@@include('site/modules/advantage/module.html')
@@include('site/modules/preview/module.html')
@@include('site/modules/module-contacts-1/module.html')
@@include('site/modules/preview-2/module.html')
<div class="desctop-content">
@@include('site/modules/catalog/module.html')
</div>
<div class="mobile-content">
@@include('site/modules/catalog-unti/module.html')
@@include('site/modules/catalog-valenki/module.html')
</div>
@@include('site/modules/advantage-2/module.html')
@@include('site/modules/module-contacts-2/module.html')
@@include('site/modules/method-payment/module.html')
@@include('site/modules/preview-3/module.html')
@@include('site/modules/comments/module.html')
</div>

@@include('site/widgets/modal/widget.html')	
@@include('site/widgets/photoswipe/widget.html')	
<footer>
@@include('site/modules/footer-1/module.html')	
</footer>


@@include('footer.html', {
	"js": [
		"template"
	]
})
